*,::after,::before{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(152, 63, 211);
    padding-left: 30px;
    padding-right: 30px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}
li {
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-top: 12px ;
    padding-bottom:12px;
}
a{
    color: white;
    text-decoration: none;
}
i{
    color: white;
}
selection{
    background-color: white;
}
option{
    background-color: rgb(152, 63, 211);
}

.logo{
 
    background-color: white;
    color: rgb(152, 63, 211);
    text-decoration: none;
    font-size: 40px;
    border: none;
}

.mode{
    border-left: 0.3px solid white;
    padding-left: 20px;
    margin-left: 7px;
}
.carrot{
    font-size: 12px ;
}